* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #212529;
}

h2 {
    color: #2e933c;
    text-align: center;
    margin: 20px 0px 30px 0px;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #909590;
    text-align: center;
    margin: 20px 0px 30px 0px;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Input from user */
/* div */
.input {
    text-align: center;
    margin: 20px 20px 20px 20px;
}

input {
    width: 60vw;
    height: 43px;
    margin: 10px 10px 0px 10px;
    padding: 0px 10px;
    background-color: whitesmoke;
    cursor: pointer;
}




/* buttons +add and clear */
.add {
    height: 45px;
    padding: 10px;
    background-color: #2e933c;
    border: none;
    color: white;
    cursor: pointer;
}



ul {
    margin: 20px 50px;
}

/* list */
.li {
    color: white;
    list-style-type: none;
    text-align: center;
    padding: 5px 20px;
    margin: 20px auto;
    width: 70vw;
    height: 35px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
}

/* circle icon */
.fa-circle-o {
    margin-right: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

/* circle check icon */
.fa-circle-check {
    margin-right: 10px;
    font-size: 20px;
    color: #2e933c;
    cursor: pointer;
}

/* line through */
.line-through {
    text-decoration: line-through;
    color: darkgrey;
    cursor: pointer;
}

/* delete icon */
.fa-trash {
    font-size: 15px;
    color: red;
    margin-left: 10px;
    cursor: pointer;
}

/* edit icon */
.fa-edit {
    font-size: 15px;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

/* arrow icons */
.fa-arrow-down,.fa-arrow-up{
    font-size: 15px;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

/* container in which delete, edit, up-arrow and down-arrow icons are present */
.iconcontainer {
    display: flex;
    align-items: center;
}