* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #212529;
}

h2 {
    color: #2e933c;
    text-align: center;
    margin: 20px 0px 30px 0px;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #909590;
    text-align: center;
    margin: 20px 0px 30px 0px;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Input from user */
/* div */
.input {
    text-align: center;
    margin: 20px 20px 20px 20px;
    /* background-color: aqua; */
}

input {
    width: 60vw;
    height: 43px;
    margin: 10px;
    padding: 0px 10px;
}

/* input from user ends */


/* buttons +add and clear */
.add {
    height: 45px;
    padding: 10px;
    background-color: #2e933c;
    border: none;
    color: white;
}

/* buttons +add and clear ends */

ul {
    margin: 20px 50px;
    /* border: 2px solid white; */

}

.li {
    color: white;
    list-style-type: none;
    text-align: center;
    padding: 5px 20px;
    margin: 20px auto;
    width: 70vw;
    height: 35px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
}

.fa {
    font-size: 20px;
    color: white;
}

.fa-trash {
    font-size: 15px;
    color: red;
    margin-right: 10px;
    /* margin-bottom: 0px; */
}

.fa-edit{
    font-size: 15px;
    color: white;
}
.iconcontainer{
    display: flex;
    align-items: center;
 }
.line-through {
    text-decoration: line-through;
    color: darkgrey;
}